<html>
  <head>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/public/css/style.css'>
    <title>Thank you!</title>
  </head>
  <body>
    <div class='content-wrapper'>
      <div class='image-wrapper'>
        <img src='https://login.mypurecloud.com/assets/images/pcLogo-fullText.png'/>
      </div>
      <div class='message-wrapper'>
        <h2>Thank you for your response!</h2>
        <p>Your attendance status has been set to "{{status}}".</p>
      </div>
    </div>
  </body>
</html>
